#outer
{
height:650px;
width: 1500px;
margin:0px auto;
border: 1px solid;

background-image: url('a.jpg');

}
#form
{
  height: 400px;
  width: 25%;
  opacity: 0.8;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 10px;
  background-color: #848484;

}
.a
{
  height: 40px;
  width: 320px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;


}
.b
{
  height: 40px;
  width: 320px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: green;
  cursor: pointer;
}
